{
  "openapi": "3.0.3",
  "info": {
    "title": "Lost Crafters",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://panel.lostcrafters.com/api/client"
    }
  ],
  "tags": [
    {
      "name": "Server"
    },
    {
      "name": "Server - File"
    },
    {
      "name": "Server - Schedule"
    },
    {
      "name": "Base"
    },
    {
      "name": "Server - Websocket"
    },
    {
      "name": "Server - Activity log"
    },
    {
      "name": "Server - Database"
    },
    {
      "name": "Server - Allocation"
    },
    {
      "name": "Server - Subuser"
    },
    {
      "name": "Server - Backup"
    },
    {
      "name": "Server - Startup"
    },
    {
      "name": "Server - Settings"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/servers/{server}": {
      "get": {
        "operationId": "api:client:server.view",
        "description": "Transform an individual server into a response that can be consumed by a client using the API.",
        "summary": "View server",
        "tags": [
          "Server"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/list": {
      "get": {
        "operationId": "file.directory",
        "description": "Returns a listing of files in a given directory.",
        "summary": "List files",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "directory",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/contents": {
      "get": {
        "operationId": "file.contents",
        "description": "Return the contents of a specified file for the user.",
        "summary": "View file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/download": {
      "get": {
        "operationId": "file.download",
        "description": "Generates a one-time token with a link that the user can use to download a given file.",
        "summary": "Download file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "file",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "signed_url"
                      ]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "attributes"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/rename": {
      "put": {
        "operationId": "file.rename",
        "description": "Renames a file on the remote machine.",
        "summary": "Rename file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameFileRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/copy": {
      "post": {
        "operationId": "file.copy",
        "description": "Copies a file on the server.",
        "summary": "Copy file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopyFileRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/write": {
      "post": {
        "operationId": "file.write",
        "description": "Writes the contents of the specified file to the server.",
        "summary": "Write file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteFileContentRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/compress": {
      "post": {
        "operationId": "file.compress",
        "summary": "Compress files",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompressFilesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/decompress": {
      "post": {
        "operationId": "file.decompress",
        "summary": "Decompress files",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecompressFilesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/delete": {
      "post": {
        "operationId": "file.delete",
        "description": "Deletes files or folders for the server in the given root directory.",
        "summary": "Delete files/ folders",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteFileRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/create-folder": {
      "post": {
        "operationId": "file.create",
        "description": "Creates a new folder on the server.",
        "summary": "Create directory",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFolderRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/chmod": {
      "post": {
        "operationId": "file.chmod",
        "description": "Updates file permissions for file(s) in the given root directory.",
        "summary": "Update file permissions",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChmodFilesRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/files/pull": {
      "post": {
        "operationId": "file.pull",
        "description": "Requests that a file be downloaded from a remote location by daemon.",
        "summary": "Pull remote file",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullFileRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/schedules": {
      "get": {
        "operationId": "schedule.index",
        "description": "Returns all the schedules belonging to a given server.",
        "summary": "List schedules",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "schedule.store",
        "description": "Store a new schedule for a server.",
        "summary": "Create schedule",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/schedules/{schedule}": {
      "get": {
        "operationId": "schedule.view",
        "description": "Returns a specific schedule for the server.",
        "summary": "View schedule",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "schedule.update",
        "description": "Updates a given schedule with the new data provided.",
        "summary": "Update schedule",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "schedule.delete",
        "description": "Deletes a schedule and it's associated tasks.",
        "summary": "Delete schedule",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/schedules/{schedule}/execute": {
      "post": {
        "operationId": "schedule.execute",
        "description": "Executes a given schedule immediately rather than waiting on it's normally scheduled time\nto pass. This does not care about the schedule state.",
        "summary": "Run schedule",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/command": {
      "post": {
        "operationId": "command.index",
        "description": "Send a command to a running server.",
        "summary": "Send command",
        "tags": [
          "Server"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendCommandRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "502": {
            "description": "An error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server}/files/upload": {
      "get": {
        "operationId": "servers.fileUpload",
        "description": "Returns an url where files can be uploaded to.",
        "summary": "Get upload url",
        "tags": [
          "Server - File"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "signed_url"
                      ]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "attributes"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/schedules/{schedule}/tasks": {
      "post": {
        "operationId": "scheduleTask.store",
        "description": "Create a new task for a given schedule and store it in the database.",
        "summary": "Create task",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/schedules/{schedule}/tasks/{task}": {
      "post": {
        "operationId": "scheduleTask.update",
        "description": "Updates a given task for a server.",
        "summary": "Update task",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "description": "The task ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "scheduleTask.delete",
        "description": "Delete a given task for a schedule. If there are subsequent tasks stored in the database\nfor this schedule their sequence IDs are decremented properly.",
        "summary": "Delete task",
        "tags": [
          "Server - Schedule"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "description": "The schedule ID",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "task",
            "in": "path",
            "required": true,
            "description": "The task ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/power": {
      "post": {
        "operationId": "power.index",
        "description": "Send a power action to a server.",
        "summary": "Send power action",
        "tags": [
          "Server"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPowerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/resources": {
      "get": {
        "operationId": "api:client:server.resources",
        "description": "Return the current resource utilization for a server. This value is cached for up to\n20 seconds at a time to ensure that repeated requests to this endpoint do not cause\na flood of unnecessary API calls.",
        "summary": "View resources",
        "tags": [
          "Server"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "api:client.index",
        "description": "Return all the servers available to the client making the API\nrequest, including servers the user has access to as a subuser.",
        "summary": "List servers",
        "tags": [
          "Base"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "50"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/permissions": {
      "get": {
        "operationId": "client.permissions",
        "description": "Returns all the subuser permissions available on the system.",
        "summary": "List subuser permissions",
        "tags": [
          "Base"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string"
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "permissions": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "permissions"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "attributes"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server}/activity": {
      "get": {
        "operationId": "api:client:server.activity",
        "description": "Returns the activity logs for a server.",
        "summary": "List activity logs",
        "tags": [
          "Server - Activity log"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "25"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/network/allocations": {
      "get": {
        "operationId": "networkAllocation.index",
        "description": "Lists all the allocations available to a server and whether\nthey are currently assigned as the primary for this server.",
        "summary": "List allocations",
        "tags": [
          "Server - Allocation"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "networkAllocation.store",
        "description": "Set the notes for the allocation for a server.",
        "summary": "Create allocation",
        "tags": [
          "Server - Allocation"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/network/allocations/{allocation}": {
      "post": {
        "operationId": "networkAllocation.update",
        "description": "Set the primary allocation for a server.",
        "summary": "Update allocation",
        "tags": [
          "Server - Allocation"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allocation",
            "in": "path",
            "required": true,
            "description": "The allocation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "networkAllocation.delete",
        "description": "Delete an allocation from a server.",
        "summary": "Delete allocation",
        "tags": [
          "Server - Allocation"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allocation",
            "in": "path",
            "required": true,
            "description": "The allocation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/network/allocations/{allocation}/primary": {
      "post": {
        "operationId": "networkAllocation.setPrimary",
        "description": "Set the primary allocation for a server.",
        "summary": "Set primary allocation",
        "tags": [
          "Server - Allocation"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allocation",
            "in": "path",
            "required": true,
            "description": "The allocation ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/backups": {
      "get": {
        "operationId": "backup.index",
        "description": "Returns all the backups for a given server instance in a paginated result set.",
        "summary": "List backups",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "post": {
        "operationId": "backup.store",
        "description": "Starts the backup process for a server.",
        "summary": "Create backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreBackupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview."
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/servers/{server}/backups/{backup}": {
      "get": {
        "operationId": "backup.view",
        "description": "Returns information about a single backup.",
        "summary": "View backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      },
      "delete": {
        "operationId": "backup.delete",
        "description": "Deletes a backup from the panel as well as the remote source where it is currently\nbeing stored.",
        "summary": "Delete backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/servers/{server}/backups/{backup}/download": {
      "get": {
        "operationId": "backup.download",
        "description": "Download the backup for a given server instance. For daemon local files, the file\nwill be streamed back through the Panel. For AWS S3 files, a signed URL will be generated\nwhich the user is redirected to.",
        "summary": "Download backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "signed_url"
                      ]
                    },
                    "attributes": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    }
                  },
                  "required": [
                    "object",
                    "attributes"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/servers/{server}/backups/{backup}/rename": {
      "put": {
        "operationId": "backup.rename",
        "description": "Updates the name of a backup for a server instance.",
        "summary": "Rename backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameBackupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/backups/{backup}/lock": {
      "post": {
        "operationId": "backup.toggleLock",
        "description": "Toggles the lock status of a given backup for a server.",
        "summary": "Toggle lock",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          }
        }
      }
    },
    "/servers/{server}/backups/{backup}/restore": {
      "post": {
        "operationId": "backup.restore",
        "description": "Handles restoring a backup by making a request to the daemon instance telling it\nto begin the process of finding (or downloading) the backup and unpacking it\nover the server files.\n\nIf the \"truncate\" flag is passed through in this request then all the\nfiles that currently exist on the server will be deleted before restoring.\nOtherwise, the archive will simply be unpacked over the existing files.",
        "summary": "Restore backup",
        "tags": [
          "Server - Backup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "backup",
            "in": "path",
            "required": true,
            "description": "The backup UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RestoreBackupRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/databases": {
      "get": {
        "operationId": "database.index",
        "description": "Return all the databases that belong to the given server.",
        "summary": "List databases",
        "tags": [
          "Server - Database"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "database.store",
        "description": "Create a new database for the given server and return it.",
        "summary": "Create database",
        "tags": [
          "Server - Database"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/databases/{database}/rotate-password": {
      "post": {
        "operationId": "database.rotatePassword",
        "description": "Rotates the password for the given server model and returns a fresh instance to\nthe caller.",
        "summary": "Rotate password",
        "tags": [
          "Server - Database"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/databases/{database}": {
      "delete": {
        "operationId": "database.delete",
        "description": "Removes a database from the server.",
        "summary": "Delete database",
        "tags": [
          "Server - Database"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "database",
            "in": "path",
            "required": true,
            "description": "The database ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/settings/rename": {
      "post": {
        "operationId": "settings.rename",
        "description": "Renames a server.",
        "summary": "Rename",
        "tags": [
          "Server - Settings"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RenameServerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/settings/description": {
      "post": {
        "operationId": "settings.description",
        "summary": "Update server description",
        "tags": [
          "Server - Settings"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DescriptionServerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/settings/reinstall": {
      "post": {
        "operationId": "settings.reinstall",
        "description": "Reinstalls the server on the daemon.",
        "summary": "Reinstall",
        "tags": [
          "Server - Settings"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/settings/docker-image": {
      "put": {
        "operationId": "settings.dockerImage",
        "description": "Changes the Docker image in use by the server.",
        "summary": "Change docker image",
        "tags": [
          "Server - Settings"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDockerImageRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/startup": {
      "get": {
        "operationId": "startup.index",
        "description": "Returns the startup information for the server including all the variables.",
        "summary": "List startup variables",
        "tags": [
          "Server - Startup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/startup/variable": {
      "put": {
        "operationId": "startup.update",
        "description": "Updates a single variable for a server.",
        "summary": "Update startup variable",
        "tags": [
          "Server - Startup"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateStartupVariableRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Error overview.",
                      "example": ""
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/users": {
      "get": {
        "operationId": "subuser.index",
        "description": "Return the users associated with this server instance.",
        "summary": "List subusers",
        "tags": [
          "Server - Subuser"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "subuser.store",
        "description": "Create a new subuser for the given server.",
        "summary": "Create subuser",
        "tags": [
          "Server - Subuser"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreSubuserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/users/{user}": {
      "get": {
        "operationId": "subuser.view",
        "description": "Returns a single subuser associated with this server instance.",
        "summary": "View subusers",
        "tags": [
          "Server - Subuser"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The user UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "subuser.update",
        "description": "Update a given subuser in the system for the server.",
        "summary": "Update subuser",
        "tags": [
          "Server - Subuser"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The user UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSubuserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "subuser.delete",
        "description": "Removes a subusers from a server's assignment.",
        "summary": "Delete subuser",
        "tags": [
          "Server - Subuser"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user",
            "in": "path",
            "required": true,
            "description": "The user UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/servers/{server}/websocket": {
      "get": {
        "operationId": "api:client:server.ws",
        "description": "Generates a one-time token that is sent along in every websocket call to the Daemon.\nThis is a signed JWT that the Daemon then uses to verify the user's identity, and\nallows us to continually renew this token and avoid users maintaining sessions wrongly,\nas well as ensure that user's only perform actions they're allowed to.",
        "summary": "Get websocket token",
        "tags": [
          "Server - Websocket"
        ],
        "parameters": [
          {
            "name": "server",
            "in": "path",
            "required": true,
            "description": "The server UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "socket": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "token",
                        "socket"
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "404": {
            "$ref": "#/components/responses/ModelNotFoundException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account": {
      "get": {
        "operationId": "api:client.account",
        "summary": "View account",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          }
        }
      }
    },
    "/account/username": {
      "put": {
        "operationId": "api:client.account.update-username",
        "description": "Update the authenticated user's username.",
        "summary": "Update username",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateUsernameRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "username": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/email": {
      "put": {
        "operationId": "api:client.account.update-email",
        "description": "Update the authenticated user's email address.",
        "summary": "Update email",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateEmailRequest"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/password": {
      "put": {
        "operationId": "api:client.account.update-password",
        "description": "Update the authenticated user's password. All existing sessions will be logged\nout immediately.",
        "summary": "Update password",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePasswordRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/activity": {
      "get": {
        "operationId": "api:client.account.activity",
        "description": "Returns a paginated set of the user's activity logs.",
        "summary": "List activity logs",
        "tags": [
          "ActivityLog"
        ],
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "25"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/api-keys": {
      "get": {
        "operationId": "apiKey.index",
        "description": "Returns all the API keys that exist for the given client.",
        "summary": "List api keys",
        "tags": [
          "ApiKey"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "apiKey.store",
        "description": "Store a new API key for a user's account.",
        "summary": "Create api key",
        "tags": [
          "ApiKey"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/api-keys/{identifier}": {
      "delete": {
        "operationId": "apiKey.delete",
        "description": "Deletes a given API key.",
        "summary": "Delete api key",
        "tags": [
          "ApiKey"
        ],
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/ssh-keys": {
      "get": {
        "operationId": "sSHKey.index",
        "description": "Returns all the SSH keys that have been configured for the logged-in user account.",
        "summary": "List ssh keys",
        "tags": [
          "SSHKey"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "sSHKey.store",
        "description": "Stores a new SSH key for the authenticated user's account.",
        "summary": "Create ssh keys",
        "tags": [
          "SSHKey"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreSSHKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/account/ssh-keys/{fingerprint}": {
      "delete": {
        "operationId": "sSHKey.delete",
        "description": "Deletes an SSH key from the user's account.",
        "summary": "Delete ssh keys",
        "tags": [
          "SSHKey"
        ],
        "parameters": [
          {
            "name": "fingerprint",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "http": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ChmodFilesRequest": {
        "type": "object",
        "properties": {
          "root": {
            "type": "string",
            "nullable": true
          },
[...]
